<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1> To do List </h1>

      <form  [formGroup]="formTask" (ngSubmit)="onSubmit()">
        <div class="form-group" [ngClass]="{ 'has-error': submitted && f.description.errors }">
          <input type="text" formControlName="description" class="form-control" formControlName="description" placeholder="Task description">
          <div *ngIf="submitted && f.description.errors" class="control-label">
            <div *ngIf="f.description.errors.required">Description is required</div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': submitted && f.responsible.errors }">
          <input type="text" formControlName="responsible" class="form-control" formControlName="responsible" placeholder="Task responsible">
          <div *ngIf="submitted && f.responsible.errors" class="control-label">
            <div *ngIf="f.responsible.errors.required">Responsible is required</div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': submitted && (f.email.errors || didYouMean != '') }">
          <input type="text" formControlName="email" class="form-control" formControlName="email" placeholder="Task responsible email">
          <div *ngIf="submitted && didYouMean != ''" class="control-label">
            <div [innerHTML]="didYouMean"></div>
          </div>
          <div *ngIf="submitted && f.email.errors" class="control-label">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Invalid email format</div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': submitted && generalErrorForm != '' }">
          <div *ngIf="submitted && generalErrorForm != ''" class="control-label">
            <div>{{generalErrorForm}}</div>
          </div>

          <button type="submit" class="btn btn-primary">Add task</button>
        </div>
      </form>
    </div>
  </div>

  <button class='btn btn-success' (click)="randomTasks()">I'm without tasks</button>

  <h4>Pending tasks</h4>
  <div class='row rowTask pending' *ngFor="let task of pendingTasks">
    <div class='col-xs-10'>
      {{task.description}}
      <br>
      <i>{{task.responsible}} ({{task.email}})</i>
    </div>
    <div class='col-xs-2 columnIcon' (click)="changeStatus(1, task.id)">
      <i class="bi bi-square icon"></i>
    </div>
  </div>
  <div class="col-md-12 nothing" *ngIf="pendingTasks.length == 0">
    Nothing to show
  </div>

  <hr>

  <h4>Completed tasks</h4>
  <div class='row rowTask completed' [ngClass]="{'maxCompleted' : task.timesCompleted == 3}" *ngFor="let task of completedTasks">
    <div class='col-xs-10'>
      {{task.description}}
      <br>
      <i>{{task.responsible}} ({{task.email}})</i>
    </div>
    <div class='col-xs-2 columnIcon' (click)="task.timesCompleted == 3 ? '' : changeStatus(0, task.id)">
      <i class="bi bi-check-square icon"></i>
    </div>
  </div>
  <div class="col-md-12 nothing" *ngIf="completedTasks.length == 0">
    Nothing to show
  </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

